@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.errmsg {
  background-color: lightpink;
  color: red;
  padding: 0.5em;
  margin: 0.5em 0;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: lightblue;
  color: darkblue;
}

.valid {
  color: limegreen;
}

.invalid {
  color: red;
}

.hide {
  display: none;
}
